ul.repositories {
    padding: 0;

    li {
        padding: 8px 40px;
        list-style: none;
        background: #212326;
        cursor: pointer;

        &:nth-child(odd) {
            background: #24262a;
        }

        &:hover {
            background: #30343f;
        }

        &.editing {
            background: #303238;
            cursor: default;
        }
    }
}

.actions {
    margin: 15px 25px;
}

.editor {
    padding: 5px 40px;

    .actions {
        margin: 20px -15px;
    }
}
