$sidebar-width: 240px;

.sidebar-container {
    position: absolute;
    left: 0;
    top: 0;
    width: $sidebar-width;
    bottom: 0;
    background: #202226;
}

.content-container {
    position: absolute;
    left: $sidebar-width;
    top: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
}
